{% extends 'base.html' %}
{% block titile %}Records{% endblock %}
{% block body %}
<!-- <div> -->
<h4 style="margin : 10px;">Filter the data :</h4>
<form style="text-align : center;">
  <div style="padding : 5px">
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="psm" placeholder="psm" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="region" placeholder="region" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="domain" placeholder="domain" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="location" placeholder="location" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="category" placeholder="category" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="priority" placeholder="priority" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="console" placeholder="console" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="operator" placeholder="operator" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="psm_owner" placeholder="psm_owner" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="comments" placeholder="comments" />
    </div>
    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="last_update_datetime_for_record_4_unique_records"
        placeholder="last_update_datetime_for_record_4_unique_records" />
      <div></div>
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="is_skip" placeholder="is_skip" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="color" placeholder="color" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="coverage_type" placeholder="coverage_type" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="protection_mode" placeholder="protection_mode" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="alarm_mode" placeholder="alarm_mode" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="coverage_status" placeholder="coverage_status" />
    </div>

    <div style="display : inline; margin-top : 5px">
      <input type="text" style="margin-top : 5px;" name="tldr" placeholder="tldr" />
    </div>

    <div>
      <button type="submit" style="margin-top : 5px; color : red; background-color: yellow;">
        filter
      </button>
    </div>
  </div>
</form>



<div class="table-container">
  <table style="margin-left : auto; margin-right : auto;text-align : center;margin-top : 15px; max-width : 100%;">
    <thead style="color: white; font-family: Arial, Helvetica, sans-serif; position: sticky; top: 0px;">
      <tr>
        <form action="{% url 'records' %}">
          <input type="hidden" value="psm" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th class="sticky-col"
            style="position: sticky; left : 0px; background-color: #80456b; border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Psm</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="region" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th class="sticky-col"
            style="position: sticky; left : 99.14px; background-color: #80456b; border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Region</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="domain" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th class="sticky-col"
            style="position: sticky; left : 212.65px; background-color: #80456b; border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Domain</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="location" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th class="sticky-col"
            style="position: sticky; left : 377.98px; background-color: #80456b; border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Location</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="category" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Category</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="priority" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Priority</button>
          </th>
        </form>

        <form action="{% url 'records' %}">
          <input type="hidden" value="console" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Console</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="operator" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Operator</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="psm_owner" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Psm_Owner</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="comments" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Comments</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="status" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Status</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="last_updated_datetime" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Last_Updated_Datetime</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="is_skip" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Is_Skip</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="color" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Color</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="coverage_type" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Coverage_Type</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="protection_mode" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Protection_Mode</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="alarm_mode" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Alarm_Mode</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="coverage_status" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Coverage_Status</button>
          </th>
        </form>


        <form action="{% url 'records' %}">
          <input type="hidden" value="tldr" name="sort">
          <input type="hidden" name="order" value="{{order}}">
          <th style="border-right: 1px solid rgba(255, 255, 255,1);">
            <button type="submit" style="border: none; background-color: #80456b; color: white;"
              title="{% if order is None or order == '' %}click to get latest data{% elif order == 'asc' %}click to sort in asc{% else %}click to sort in dsc{% endif %}">Tldr</button>
          </th>
        </form>


        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in page.object_list %}
      <tr>
        <td class="sticky-col" style="position: sticky; left : 0px;">{{data.psm|default:''}}</td>
        <td class="sticky-col" style="position: sticky; left : 99.14px;">{{data.region|default:''}}</td>
        <td class="sticky-col" style="position: sticky; left : 212.65px;">{{data.domain|default:''}}</td>
        <td class="sticky-col" style="position: sticky; left : 377.98px;">{{data.location|default:''}}</td>

        <td>{{data.category|default:''}}</td>
        <td>{{data.priority|default:''}}</td>
        <td>{{data.console|default:''}}</td>
        <td>{{data.operator|default:''}}</td>
        <td>{{data.psm_owner|default:''}}</td>
        <td>{{data.comments|default:''}}</td>
        <td>{{data.status|default:''}}</td>
        <td>{{data.last_update_datetime_for_record_4_unique_records|default:''}}</td>
        <td>{{data.is_skip|default:''}}</td>
        <td>{{data.color|default:''}}</td>
        <td>{{data.coverage_type|default:''}}</td>
        <td>{{data.protection_mode|default:''}}</td>
        <td>{{data.alarm_mode|default:''}}</td>
        <td>{{data.coverage_status|default:''}}</td>
        <td>{{data.tldr|default:''}}</td>
        <td>
          <a style="text-decoration: none; color : red;" href="{% url 'deleteRecord' data.pk %}">Delete</a>
          <a style="text-decoration: none; color : green;" href="{% url 'editRecord' data.pk %}">edit</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
<!-- </div> -->
<nav>
  <!-- <div class="ms-5">{{page.number}}/{{page.paginator.num_pages}}</div> -->
  <ul style="list-style-type: none;text-align : center;">
    <li style="display : inline; margin : 10px;">
      {% if page.has_previous %}
      <a href="{% url 'records' %}?page={{page.previous_page_number}}">Previous</a>
      {% endif %}
    </li>
    {% for num_page in page.paginator.page_range %}

    {% if num_page == page.number %}
    <li style="display : inline; margin : 10px;">
      <a style="text-decoration : none;" href="#">{{num_page}}/{{page.paginator.num_pages}}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li style="display : inline; margin : 10px;">
      {% if page.has_next %}
      <a href="{% url 'records' %}?page={{page.next_page_number}}">Next</a>
      {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}